<!-- base_home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="w-full h-screen flex">
  <div class="w-1/6 bg-[#6C584C] p-4">
    <div class="flex items-center mb-4">
      <span class="text-white text-2xl">🏠</span>
      <a href="{% url 'home' %}" class="ml-2 text-white {% if request.path == '/home/' %}font-extrabold{% endif %} hover:underline">Home</a>
    </div>
    <div class="flex items-center">
      <span class="text-white text-2xl">📌</span>
      <a href="{% url 'bookmarks' %}" class="ml-2 text-white {% if request.path == '/bookmarks/' %}font-extrabold{% endif %} hover:underline">Bookmarks</a>
    </div>
  </div>
  <div class="w-5/6 flex-grow flex-col p-8 overflow-y-auto scrollbar-thin scrollbar-thumb-[#8B5D2E] scrollbar-track-[#CAB29B] scrollbar-thumb-rounded bg-[#A98467]">
    {% block main_content %}
    
    {% endblock %}
  </div>
</div>
{% endblock %}
