{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Cookbook</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="overflow-hidden bg-gray-[#dde5b6]">
		<header class="bg-[#6C584C]">
			<button class="mx-4 m-2 py-3 px-7 bg-[#A98467] text-[#6C584C] font-bold text-3xl rounded-full"><a href="/">Cookbook</a></button>
		</header>
	
		<main class="">
			{% block content %}{% endblock %}
		</main>
	</body>
</html>