{% extends 'base_home.html' %}

{% block main_content %}
  <div class="container mx-auto p-2 flex flex-col justify-center items-center h-auto">
    <div class="mx-auto bg-[#F5EFE6] rounded-md flex  shadow-lg max-w-2xl">
      <img src="{{ recipe.recipe.image }}" alt="{{ recipe.recipe.label }}" class="rounded-md max-w-md object-cover w-2/3">
      <div class="p-6 pl-4 pr-10 w-1/2">
        <h2 class="text-2xl font-bold mb-4">{{ recipe.recipe.label }}</h2>
        <p class="text-left"><strong>Ingredients:</strong></p>
        <ul class="list-disc pl-6 space-y-2">
          {% for ingredient in recipe.recipe.ingredients %}
            <li>{{ ingredient.text }}</li>
          {% endfor %}
        </ul>

        <a href="{{ recipe.recipe.url }}" class="text-blue-500 hover:underline block mt-4">View Full Recipe</a>
      </div>
    </div>

    <div class="flex justify-center items-center mt-6 w-auto px-6 py-3 bg-[#F5EFE6] font-bold text-center rounded-lg">
      <a href="{% url link %}" class="text-blue-500 hover:underline">Back to <span class="capitalize">{{link}}</span></a>
    </div>
  </div>
{% endblock %}
