<!-- signup.html -->
{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-[#F0EAD2]">
  <p class="mt-4">Already have an account? <a href="{% url 'login' %}" class="text-blue-500">Log In</a>.</p>

  <div class="bg-white p-8 rounded shadow-md w-1/2 max-w-md">
    <h2 class="text-2xl font-semibold mb-6">Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Sign Up
      </button>
    </form>

  </div>
</div>
{% endblock %}
